*{
    text-align: center;
    background-color: #1a2634;
    color:#ff4949;
}
input{
    padding: 20px;
    width: 50%;
    font-size: 20px;

}
button{
    background-color: #ff4949;
    color:white;
    border-color: #ff4949;
    padding: 20px;
    border-radius: 20px;
    border-right: none;
    border-bottom:none;
    font-size: 15px;
    font-weight: bold;
}

h2{
    padding: 20px;
}

input:active{
    border:none;
    text-decoration: none;
    color:white;
    border-color:white;
    outline: none;
    -moz-outline-style: none;
    
}